body {
	font-family: 'Poppins', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
	background-image: url("/interactive-pokedex/src/imagens/dia.jpg");
	background-repeat: no-repeat; 
	background-size: cover;
	color: #333333;
}

body.modo-escuro {
	background-image: url("/interactive-pokedex/src/imagens/noite.jpg");
	background-repeat: no-repeat; 
	background-size: cover;
	color: #d9d8d8;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 25px;
}

header .logo,
header .imagem-botao {
	width: 30px;
	transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
	background: none;
	border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao:hover {
	transform: scale(1.02);
	/* cursor: pointer; */
}

main .cartao {
	background-color: #d8e3ec;
	padding: 15px;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 20px;
	border-radius: 15px;
	transition: 0.2s ease-in-out;
	mask-repeat: no-repeat;
}

.modo-escuro .cartao {
	background-color: #a8a8a8;
}

main {
	padding: 25px;
}

main .cartao .tipos {
	display: flex;
	gap: 15px;
	flex-direction: column;
	font-size: 50px;
}

main .cartao .tipo {
	padding: 8px;
	border-radius: 10px;
}


.titulo{
	font-size: 50px;
	text-transform: uppercase;
}

.paragrafo{
	font-size: 30px;
	color: #212121;
}

.modo-escuro .paragrafo{
	font-size: 30px;
	color: #5d5959;
}

.gif{
	width: 280px;
	height: 280px;
	flex-wrap: wrap;
}

.grama {
    background: rgb(8, 115, 4);
    background: linear-gradient(90deg, rgba(8, 115, 4, 1) 0%, rgba(4, 182, 56, 1) 100%);
}

.veneno {
    background: rgb(137, 6, 228);
    background: linear-gradient(90deg, rgba(137, 6, 228, 1) 0%, rgba(192, 101, 227, 1) 100%);
}

.fogo {
    background: rgb(238, 47, 3);
    background: linear-gradient(90deg, rgba(238, 47, 3, 1) 0%, rgba(236, 93, 2, 1) 100%);
}

.agua {
    background: rgb(7, 7, 153);
    background: linear-gradient(90deg, rgba(7, 7, 153, 1) 0%, rgba(19, 91, 215, 1) 100%);
}

.inseto {
    background: rgb(123, 190, 0);
    background: linear-gradient(90deg, rgba(123, 190, 0, 1) 0%, rgba(182, 231, 65, 1) 100%);
}

.voador {
    background: rgb(0, 153, 190);
    background: linear-gradient(90deg, rgba(0, 153, 190, 1) 0%, rgba(65, 225, 231, 1) 100%);
}

.eletrico {
    background: rgb(204, 183, 27);
    background: linear-gradient(90deg, rgba(204, 183, 27, 1) 0%, rgba(228, 232, 72, 1) 100%);
}

.psico {
    background: rgb(204, 27, 138);
    background: linear-gradient(90deg, rgba(204, 27, 138, 1) 0%, rgba(232, 72, 222, 1) 100%);
}

.normal {
    background: rgb(140, 122, 85);
    background: linear-gradient(90deg, rgba(140, 122, 85, 1) 0%, rgba(153, 138, 60, 1) 100%);
}

.terra {
    background: rgb(91, 42, 3);
    background: linear-gradient(90deg, rgba(91, 42, 3, 1) 0%, rgba(161, 120, 15, 1) 100%);
}


.parte-de-cima{
	display: flex;
	justify-content: space-around;
	padding: 25px;
	flex-wrap: wrap;
}

.texto{
	font-size: 20px;
}

.evolucao{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 25px;
	flex-wrap: wrap;
}

.divisoria{
	font-size: 200px;
}
