body {
	font-family: 'Poppins', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
	background-color: #5e5b5bad;
	color: #333333;
}

body.modo-escuro {
	background-color: #212121;
	color: #d9d8d8;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 25px;
}

header .logo,
header .imagem-botao {
	width: 30px;
	transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
	background: none;
	border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao:hover {
	transform: scale(1.02);
	/* cursor: pointer; */
}

main .cartao {
	background-color: #d8e3ec;
	padding: 15px;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 20px;
	border-radius: 15px;
	transition: 0.2s ease-in-out;
	mask-repeat: no-repeat;
}

.modo-escuro .cartao {
	background-color: #a8a8a8;
}

main {
	padding: 25px;
}

main .cartao .tipos {
	display: flex;
	gap: 15px;
	flex-direction: column-reverse;
	font-size: 50px;
}

main .cartao .tipo {
	padding: 8px;
	border-radius: 10px;
}


.titulo{
	font-size: 50px;
	text-transform: uppercase;
}

.paragrafo{
	font-size: 30px;
	color: #212121;
}

.modo-escuro .paragrafo{
	font-size: 30px;
	color: #5d5959;
}

.gif{
	width: 300px;
	height: 300px;
}

.grama {
	background-color: #7ac74c;
}

.veneno {
	background-color: #df67ddfb;
}

.parte-de-cima{
	display: flex;
	justify-content: space-around;
	padding: 25px;
	flex-wrap: wrap;
}

.texto{
	font-size: 20px;
}

.evolucao{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 25px;
	flex-wrap: wrap;
}

.divisoria{
	font-size: 200px;
}


